matplotlib>=3.3.3
ipdb>=0.13.3
numba>=0.52.0
numpy>=1.19.2
pkginfo==1.6.1
plotly>=4.14.1
mpmath>=1.1.0
pandas>=1.1.5
pylatexenc>=2.6
dill>=0.3.2
scipy>=1.5.3
streamlit>=0.73.0
filter>=0.0.0.20200724
ipython>=7.19.0
scikit_learn>=0.23.2
./
